<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NodeJS</title>
  </head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(10, 60, 15);
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    /* Change the link color to #111 (black) on hover */
    li a:hover {
      background-color: rgb(120, 55, 55);
    }
    li {
      border-right: 1px solid #bbb;
    }

    li:last-child {
      border-right: none;
    }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
  <body>
    <h1>NodeJS</h1>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li style="float: right"><a class="active" href="#about">About</a></li>
    </ul>
    <table>
      <tr>
        <th>ID</th>
        <th>FullName</th>
        <th>Address</th>
        <th>Email</th>
        <th>CRUD</th>
      </tr>
      <% for (let i=0; i< dataUser.length; i++){%>
      <tr>
        <td><%=dataUser[i].id %></td>
        <td><%=dataUser[i].fullName %></td>
        <td><%=dataUser[i].address %></td>
        <td><%=dataUser[i].email %></td>
        <td>
          <a href="/details/info/<%=dataUser[i].id %>">Details</a>
          <button>Update</button>
          <button>Delete</button>
        </td>
      </tr>
      <% } %>
    </table>
    <!-- <table>
      <% for(let i=0; i< dataUser.length; i++) {%>
      <p><%= dataUser[i].id%></p>
      <p><%= dataUser[i].firstName%></p>
      <p><%= dataUser[i].lastName%></p>
      <% } %>
    </table> -->
  </body>
</html>
